@import 'materialize'; 
@import 'alert'; 
@import 'font-awesome';

@font-face {
  font-family: 'Anatole Display SSi';
  src: url(/assets/Anatole.ttf)
}

.main {
  font-family: "Anatole Display SSi";
}
